<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!--獨立使用sessionFactory.openSession()時需要以下四行-->
		<property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
		<property name="hibernate.connection.password">P@ssw0rd</property>
		<property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;databaseName=WeMatch</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>

		<!--使用DataSource -->
		<property name="hibernate.connection.datasource">java:comp/env/connectSQLServerJdbc/WeMatch</property>

		<!--使用getCurrentSession()取得Session物件 -->
		<property name="current_session_context_class">thread</property>

		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<mapping class="tw.eeit117.wematch.product.model.ProductBean" />

	</session-factory>
</hibernate-configuration>
